<!-- Add you custom twig html here -->
{% block content %}
<h2>popopopopo</h2>
<h1>HELLO</h1>
<div id="btnAddShortcut" data-toggle="tooltip" data-placement="bottom" title="Click to add shortcut" class="add-shortcut-button {{ shortcutclass }}"></div>
{% endblock %}